.translator-header {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.translator-body {
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.translator-processor {
  margin: 16px 0 16px;
}